body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #9CDE9F, #82735C);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; /
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none; 
  }
  .containerbez{
   display: flex; 
    justify-content: space-around;
    min-width: 35vw;
  margin-right: 150px;
color: black;
font-size: 65px;

  }

  .cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
  }
  .Logo{
    margin-right: 150px;
  }
   .Terraria {
    width: 50%;
    float: left;
    text-align: justify;
 }

.containerbez a:hover {
    color: #6B4E4E;
}

.Logo img {
    height: 150px;
    width: auto;
}

.content {
    padding: 20px;
    font-size: large;
}

.Terraria {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    color: #4D3434;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
